Source: ovn
Section: net
Priority: extra
Maintainer: Open Virtual Network developers <dev@ovn.org>
Uploaders: Simon Horman <horms@debian.org>
Build-Depends: autoconf (>= 2.63),
               automake (>= 1.10) | automake1.10,
               bzip2,
               debhelper (>= 8),
               dh-autoreconf,
               python3,
               libssl-dev,
               libtool,
               libunbound-dev
Standards-Version: 3.9.3
Homepage: http://ovn.org/

Package: ovn-common
Architecture: linux-any
Depends: ovn-common (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: OVN common components
 OVN, the Open Virtual Network, is a system to support virtual network
 abstraction.  OVN complements the existing capabilities of OVS to add
 native support for virtual network abstractions, such as virtual L2 and L3
 overlays and security groups.
 .
 ovn-common provides components required by other OVN packages.

Package: ovn-controller-vtep
Architecture: linux-any
Depends: ovn-common (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: OVN vtep controller
 ovn-controller-vtep is the local controller daemon in
 OVN, the Open Virtual Network, for VTEP enabled physical switches.
 It connects up to the OVN Southbound database over the OVSDB protocol,
 and down to the VTEP database over the OVSDB protocol.
 .
 ovn-controller-vtep provides the ovn-controller-vtep binary for controlling
 vtep gateways.


Package: ovn-host
Architecture: linux-any
Depends: openvswitch-switch (= ${binary:Version}),
         openvswitch-common (= ${binary:Version}),
         ovn-common (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: OVN host components
 OVN, the Open Virtual Network, is a system to support virtual network
 abstraction.  OVN complements the existing capabilities of OVS to add
 native support for virtual network abstractions, such as virtual L2 and L3
 overlays and security groups.
 .
 ovn-host provides the userspace components and utilities for
 OVN that can be run on every host/hypervisor.

Package: ovn-central
Architecture: linux-any
Depends: openvswitch-switch (= ${binary:Version}),
         openvswitch-common (= ${binary:Version}),
         ovn-common (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: OVN central components
 OVN, the Open Virtual Network, is a system to support virtual network
 abstraction.  OVN complements the existing capabilities of OVS to add
 native support for virtual network abstractions, such as virtual L2 and L3
 overlays and security groups.
 .
 ovn-central provides the userspace daemons, utilities and
 databases for OVN that is run at a central location.

Package: ovn-docker
Architecture: linux-any
Depends: openvswitch-switch (= ${binary:Version}),
         openvswitch-common (= ${binary:Version}),
         python (>= 3.5),
         python-openvswitch (= ${source:Version}),
         ovn-common (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: OVN Docker drivers
 OVN, the Open Virtual Network, is a system to support virtual network
 abstraction.  OVN complements the existing capabilities of OVS to add
 native support for virtual network abstractions, such as virtual L2 and L3
 overlays and security groups.
 .
 ovn-docker provides the docker drivers for OVN.
